<header>
    <div class="container navbar">
        <a href="index.html" class="logo-link">
            <img src="images/logo/logo.jpg" alt="CDC Logo" class="logo">
        </a>

        <div class="mobile-menu-btn">
            <i class="ri-menu-3-line"></i>
        </div>

        <div class="nav-links">
            <a href="about.html">About Us</a>
            <a href="services.html">Services</a>
            <a href="products.html">Products</a>
            <a href="contact.html">Contact</a>
        </div>
    </div>
</header>